<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>400 - Falha na Requisição (BAD REQUEST)</title>
</head>
<body>

<h2>400 - Falha na Requisição (BAD REQUEST)</h2>

<p>
bla bla bla
</p>

<p th:text="${error}">Error Info</p>
<p th:text="${status}">Status</p>

</body>
</html>