<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>500 - Algo saiu muito errado (Internal Server Error)</title>
</head>
<body>

<h2>500 - Algo saiu muito errado (Internal Server Error)</h2>

<p>
bla bla bla
</p>

<p th:text="${error}">Error Info</p>
<p th:text="${status}">Status</p>

</body>
</html>